# generic files
.libs
.tmp
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
stamp-h1
libtool
*~
*.la
*.lo
*.o

# m4 temporary files
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing

# directory specific files
/Doxyfile
/src/frontend/include/yaksa.h
/src/frontend/include/yaksa_config.h
/src/frontend/include/yaksa_config.h.in
/src/backend/seq/pup/yaksuri_seqi_pup_char.c
/src/backend/seq/pup/yaksuri_seqi_pup_double.c
/src/backend/seq/pup/yaksuri_seqi_pup_float.c
/src/backend/seq/pup/yaksuri_seqi_pup_int.c
/src/backend/seq/pup/yaksuri_seqi_pup_int16_t.c
/src/backend/seq/pup/yaksuri_seqi_pup_int32_t.c
/src/backend/seq/pup/yaksuri_seqi_pup_int64_t.c
/src/backend/seq/pup/yaksuri_seqi_pup_int8_t.c
/src/backend/seq/pup/yaksuri_seqi_pup_long.c
/src/backend/seq/pup/yaksuri_seqi_pup_long_double.c
/src/backend/seq/pup/yaksuri_seqi_pup_long_long.c
/src/backend/seq/pup/yaksuri_seqi_pup_short.c
/src/backend/seq/pup/yaksuri_seqi_pup_wchar_t.c
/src/backend/seq/pup/yaksuri_seqi_populate_pupfns.c
/src/backend/seq/pup/yaksuri_seqi_populate_pupfns.h
/src/backend/cuda/pup/yaksuri_cudai_pup_char.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_double.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_float.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_int.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_int16_t.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_int32_t.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_int64_t.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_int8_t.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_long.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_long_double.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_long_long.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_short.cu
/src/backend/cuda/pup/yaksuri_cudai_pup_wchar_t.cu
/src/backend/cuda/pup/yaksuri_cudai_populate_pupfns.c
/src/backend/cuda/pup/yaksuri_cudai_populate_pupfns.h
/maint/Version
/maint/yaksa.pc
/test/m4
/test/yaksa_test_config.h.in
/test/yaksa_test_config.h
/test/flatten/testlist.gen
/test/iov/testlist.gen
/test/pack/testlist.cuda.d-d-d.gen
/test/pack/testlist.cuda.d-rh-d.gen
/test/pack/testlist.cuda.d-urh-d.gen
/test/pack/testlist.cuda.rh-d-rh.gen
/test/pack/testlist.cuda.urh-d-urh.gen
/test/pack/testlist.gen
/test/simple/testlist.gen
/README
